<!-- <ion-header>
  <ion-toolbar>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="bg-transparent content">
  <div class="h-full flex flex-col px-4">
    <p class="w-full h-1/2 p-10 font-bold text-white">{{log}}</p>
    <ion-button
      class="mt-auto mb-6"
      (click)="onClick()"
      expand="block"
      [color]="algoRunning ? 'danger' : 'success'"
      shape="round"
    >
      {{!algoRunning ? 'Start' : 'Stop'}}
    </ion-button>
  </div>
</ion-content>
